@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');


* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

body, html {
    padding: 0px;
    margin: 0px;
    background: #f2f2f2;
}

.no-padding{
	padding: 0
}

#map-section{
	height: 100vh;
	background-color: #7F858B;
}

#sidebar {
  background-color:#394141;
  height:100vh;
  right:0;
  color: #f2f2f2;
  font-weight: 300;
}

.module {
	width: 100%;
	min-height: 110px;
	margin-bottom: 10px;
}

.title {
	margin: 0;
	padding: 0;
}

#map {
	width: 100%;
	min-height: 80vh;
	margin: 0;
	padding: 0;
	z-index: 1;
}

.markerContainer{
	background-color: blue;
}

.timeline-container{
	height: 100%;
	background-color: #7F858B;
	padding: 0px 20px 0px 15px; 
}

.timeline-container > h4{
	margin-top: 20px;
	color: #f2f2f2;
	font-weight: 300;
}

.axis > .domain{
	stroke: none;
}

.axis > .tick > line{
	stroke: #f2f2f2;
	stroke-opacity: 0.2;
}

.axis > .tick > text{
	fill: #f2f2f2;
	font-weight: 300;
}

#timeline {
	/*margin: 20px;*/
	z-index: 100;
}

.brush .selection{
	stroke: none;
	fill: darkgray;
}

#details {
	height: 80px;
}

svg {
	pointer-events: all;
}

.hexHover {
	fill: purple;
}

.hide {
	visibility: hidden;
}