# Ignore all node_modules
node_modules/*

package-lock.json
.DS_Store

# webpack bundle
public/bundle.js
public/bundle.js.map

# Secrets
Secret.js

# NPM errors
npm-debug.log
!/app/components/LoginForm.jsx
